Repository frontend-park-mail-ru/2024_1_Cyberkotletki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --ext js,jsx,ts,tsx,json --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "**/*.+(js|jsx|ts|tsx|json|css|scss|less|sass)", npm run tsc

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx,json}": [
        "eslint . --ext js,jsx,ts,tsx,json --report-unused-disable-directives --max-warnings 0 --fix",
        "prettier --write \"**/*.+(js|jsx|ts|tsx|json|css|scss|less|sass)\""
    ],
    "src/**/*.{ts,tsx}": ["npm run tsc"],
    "src/**/*.{css,scss,less,sass}": [
        "prettier --write \"**/*.+(js|jsx|ts|tsx|json|css|scss|less|sass)\""
    ]
}

perf(deploy): added dockerfile and some improvements
  Dockerfile
  docker-compose.yml
  src/api/appFetch.ts
  src/components/FilmCard/FilmCard.tsx
  src/pages/FilmPage/ReviewFormBlock/ReviewFormBlock.tsx
  src/pages/IndexPage/FilmsCarouselPreview/FilmsCarouselPreview.tsx
  src/pages/IndexPage/IndexPage.tsx
Due: eslint . --ext js,jsx,ts,tsx,json --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "**/*.+(js|jsx|ts|tsx|json|css|scss|less|sass)", npm run tsc

feat(burger): added navbar with burger for mobile
  src/assets/icons/ic-burger.svg
  src/assets/icons/ic-close.svg
  src/assets/icons/index.ts
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/components/LogoButton/LogoButton.module.scss
  src/components/Navbar/Navbar.module.scss
  src/components/Navbar/Navbar.tsx
  src/components/Navbar/index.ts
  src/components/NavbarPopover/NavbarPopover.module.scss
  src/components/NavbarPopover/NavbarPopover.tsx
  src/components/NavbarPopover/index.ts
Due: eslint . --ext js,jsx,ts,tsx,json --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "**/*.+(js|jsx|ts|tsx|json|css|scss|less|sass)", npm run tsc

feat(facts and pictures): added facts about film and pictures
  src/components/FactsAccordion/FactsAccordion.module.scss
  src/components/FactsAccordion/FactsAccordion.tsx
  src/components/FactsAccordion/index.ts
  src/components/YouTubeIframe/YouTubeIframe.tsx
  src/pages/FilmPage/FilmMainContent/FilmMainContent.module.scss
  src/pages/FilmPage/FilmPage.module.scss
  src/pages/FilmPage/FilmPage.tsx
  src/pages/FilmPage/PostersCarousel/PostersCarousel.module.scss
  src/pages/FilmPage/PostersCarousel/PostersCarousel.tsx
  src/pages/FilmPage/PostersCarousel/index.ts
  src/pages/FilmPage/ReviewFormBlock/ReviewFormBlock.tsx
  src/pages/FilmPage/ReviewsList/ReviewsList.tsx
  src/pages/FilmPage/SimilarContentBlock/SimilarContentBlock.tsx
  src/utils/getYouTubeLink.ts
Due: eslint . --ext js,jsx,ts,tsx,json --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "**/*.+(js|jsx|ts|tsx|json|css|scss|less|sass)", npm run tsc

fix(manifest): fix manifest icons
  docker-compose.yml
  manifest.json
Due: none

feat(video player): added video player
  docker-compose.yml
  src/api/content/types.ts
  src/components/FactsAccordion/FactsAccordion.tsx
  src/components/Modal/Modal.tsx
  src/components/NavbarPopover/NavbarPopover.tsx
  src/components/PlayerButton/PlayerButton.module.scss
  src/components/PlayerButton/PlayerButton.tsx
  src/components/PlayerButton/index.ts
  src/components/PlayerModal/PlayerModal.module.scss
  src/components/PlayerModal/PlayerModal.tsx
  src/components/PlayerModal/index.ts
  src/pages/FilmPage/FilmMainContent/FilmMainContent.module.scss
  src/pages/FilmPage/FilmMainContent/FilmMainContent.tsx
Due: eslint . --ext js,jsx,ts,tsx,json --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "**/*.+(js|jsx|ts|tsx|json|css|scss|less|sass)", npm run tsc

perf(index page): improve performance
  src/Providers/HistoryProvider.tsx
  src/components/Icon/Icon.tsx
  src/core/app-dom/src/removeElement.ts
  src/core/app-dom/src/replaceElements.ts
  src/core/app-dom/src/updateElement.ts
  src/pages/IndexPage/FilmsCarouselPreview/FilmsCarouselPreview.tsx
  src/pages/IndexPage/IndexPage.tsx
Due: eslint . --ext js,jsx,ts,tsx,json --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "**/*.+(js|jsx|ts|tsx|json|css|scss|less|sass)", npm run tsc

fix(width fav button): fix width fav button
  src/pages/FilmPage/FilmMainContent/FilmMainContent.module.scss
Due: prettier --write "**/*.+(js|jsx|ts|tsx|json|css|scss|less|sass)"

fix(display): return requestAnimationFrame
  src/Providers/HistoryProvider.tsx
  src/components/Icon/Icon.tsx
  src/core/app-dom/src/removeElement.ts
  src/core/app-dom/src/replaceElements.ts
  src/core/app-dom/src/updateElement.ts
Due: eslint . --ext js,jsx,ts,tsx,json --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "**/*.+(js|jsx|ts|tsx|json|css|scss|less|sass)", npm run tsc
